@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');


.navbar{
    background-color: #1C1C1C;    
}

.navbar>nav{
    height: 80px;
}

.navbar>nav>ul>li{
    padding: 0 10px;
    color: #FFF;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 600;
    line-height: 28px;
    font-size: 14px;
}

.logo>span{
    color: #40E0D0;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.logo{
    color: #FFF;
    font-family: 'Courier Prime', monospace;
}
