.post h1, .post h2, .post h3{
    font-family: 'Montserrat-Bold', sans-serif;
} 

.post h1{
    font-size: 3rem; 
    font-weight: 800;
    line-height: 0.8;  
    margin: 20px 0; 
}

.post h2{
    font-size: 2rem;
    margin: 20px 0;
    clear: left;
}

.post h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post small.fonte{
    font-weight: 600;
}
.post small.fonte>a, .post p>span {
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 28px;
    color: #00b4c5;
    font-weight: 600;
}

.side-post-subtitle{
    color: #FFF;
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 26px;
    background-color: #333;
    padding: 5px;
    border-bottom: 2px dashed #333;
}

.post>ul>li>h3 ~ p{
    margin-top: 20px;
}

.post-cabecalho{
    font-size: 0;
    line-height: 0;
    margin-left: -20px;
    margin-right: -20px;
}

.post-cabecalho>*{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.post-category{
    background-color: #40E0D0;
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.93;
    font-weight: 400;
    letter-spacing: .1em;
    font-family: questrial,-apple-system,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    text-transform: uppercase;
}

.img-main{
    shape-outside: circle(50%); 
    clip-path: circle(50%);  
    width: 300px;  
    height: 300px; 
    float: left;
}

.post-subcategory{
    width: 70%;
}

.side-post-img {
    margin-top: 50px;     
    width: 280px;
    max-height: 450px;
	text-align: center;
    background-color: #FFF;
    box-shadow: 1px 1px 3px #999;
    transform: rotate(3deg);
}

.side-post-img>div{
    padding: 5px;
}

.side-post-img>div>img{
    height:"338px";
}

.side-post-img>div>small{
    transform: none;
}

.fonte{
    margin-top: 20px;
}

.pontilhado{
    width: 100%;
    height: 5px;
    border-top: 2px dotted #333;
    margin-top: -14px;
}

.code{
    margin: 0;
    white-space: normal;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-family: monospace;
}